body {
  background-image: url("../images/food.png");
  text-align: center;
  font-family: 'Crafty Girls', cursive;
}

.answer-button {
  margin: 10px auto;
  background-color: lightblue;
  border-color: aliceblue;
  color: #fff;
}

.buttons-hidden{
  display: none;
}

img {
  width: 500px;
}